@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "UhBee";
  src: url("../src/fonts/UhBee mysen.ttf");
}
:root {
  --background: 255, 255, 255;
  --foreground: 20, 20, 20;
  --primary: 20, 20, 20;
  --secondary: 83, 83, 83;
  --highlight: 235, 202, 93;
  --blend: 200, 200, 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 20, 20, 20;
    --foreground: 255, 255, 255;
    --primary: 255, 255, 255;
    --secondary: 238, 238, 238;
    --highlight: 213, 189, 109;
    --blend: 50, 50, 50;
  }
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
